@import "tailwindcss";

:root {
	--background: oklch(0.9757 0.0017 247.84);
	--foreground: oklch(0.2793 0.0367 268.4327);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2793 0.0367 268.4327);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2793 0.0367 268.4327);
	--primary: oklch(0.4579 0.0984 250.4685);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9276 0.0058 264.5313);
	--secondary-foreground: oklch(0.4461 0.0263 256.8018);
	--muted: oklch(0.9665 0.0045 258.3247);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.9531 0.0097 252.812);
	--accent-foreground: oklch(0.4579 0.0984 250.4685);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9276 0.0058 264.5313);
	--input: oklch(1 0 0);
	--ring: oklch(0.7767 0.0498 252.2827);
	--chart-1: oklch(0.4579 0.0984 250.4685);
	--chart-2: oklch(0.6373 0.1013 243.2023);
	--chart-3: oklch(0.7575 0.0731 236.354);
	--chart-4: oklch(0.8534 0.0503 240.0671);
	--chart-5: oklch(0.9181 0.0279 239.6717);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2793 0.0367 268.4327);
	--sidebar-primary: oklch(0.4579 0.0984 250.4685);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9531 0.0097 252.812);
	--sidebar-accent-foreground: oklch(0.4579 0.0984 250.4685);
	--sidebar-border: oklch(0.9276 0.0058 264.5313);
	--sidebar-ring: oklch(0.7767 0.0498 252.2827);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 0.125rem;
	--shadow-blur: 0.25rem;
	--shadow-spread: 0;
	--shadow-opacity: 0.05;
	--shadow-color: #000000;
	--shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.03);
	--shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.03);
	--shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05),
		0 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05),
		0 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05),
		0 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05),
		0 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05),
		0 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.13);
	--tracking-normal: normal;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2265 0.0328 283.4717);
	--foreground: oklch(0.9067 0 0);
	--card: oklch(0.2736 0.035 283.8471);
	--card-foreground: oklch(0.9067 0 0);
	--popover: oklch(0.2736 0.035 283.8471);
	--popover-foreground: oklch(0.9067 0 0);
	--primary: oklch(0.6232 0.1187 245.9004);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.3792 0.029 266.4705);
	--secondary-foreground: oklch(0.7457 0.0304 254.7208);
	--muted: oklch(0.3175 0.0265 266.7406);
	--muted-foreground: oklch(0.8148 0.016 257.2061);
	--accent: oklch(0.3534 0.0291 268.8154);
	--accent-foreground: oklch(0.6232 0.1187 245.9004);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3792 0.029 266.4705);
	--input: oklch(0.2736 0.035 283.8471);
	--ring: oklch(0.632 0.054 237.9157);
	--chart-1: oklch(0.6232 0.1187 245.9004);
	--chart-2: oklch(0.711 0.099 248.5067);
	--chart-3: oklch(0.8151 0.0649 235.1365);
	--chart-4: oklch(0.8915 0.043 238.5297);
	--chart-5: oklch(0.9469 0.0209 236.7592);
	--sidebar: oklch(0.2736 0.035 283.8471);
	--sidebar-foreground: oklch(0.9067 0 0);
	--sidebar-primary: oklch(0.6232 0.1187 245.9004);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.3534 0.0291 268.8154);
	--sidebar-accent-foreground: oklch(0.6232 0.1187 245.9004);
	--sidebar-border: oklch(0.3792 0.029 266.4705);
	--sidebar-ring: oklch(0.632 0.054 237.9157);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 0.125rem;
	--shadow-blur: 0.25rem;
	--shadow-spread: 0;
	--shadow-opacity: 0.3;
	--shadow-color: #000000;
	--shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.15);
	--shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.15);
	--shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.3),
		0 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.3),
		0 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.3),
		0 2px 4px -1px hsl(0 0% 0% / 0.3);
	--shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.3),
		0 4px 6px -1px hsl(0 0% 0% / 0.3);
	--shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.3),
		0 8px 10px -1px hsl(0 0% 0% / 0.3);
	--shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.75);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	--font-outfit: var(--font-outfit);
	--font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

body {
	letter-spacing: var(--tracking-normal);
}
/*
  Styles de base
*/
@layer base {
	body {
		@apply bg-background text-foreground font-plus-jakarta-sans;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-outfit;
	}
	h1 {
		@apply text-4xl md:text-7xl font-extrabold;
	}
	h2 {
		@apply text-2xl md:text-5xl font-bold;
	}
	h3 {
		@apply text-xl md:text-3xl font-semibold;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	button {
		@apply font-outfit;
	}

	Link:focus-visible, Link :focus-visible, a:focus-visible{
		@apply outline-none ring-2 ring-ring;
	}
}
